.footer {
  padding: 60px 0;

  background-color: $brandBcgColor;
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}

.footer__768-wrapper {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 76px;
    padding-right: 89px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.join {
  color: $mainBcgColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
