@media screen and (min-width: 768px) {
  %after {
    content: '';

    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background-color: $brandColor;
    border-radius: 2px;
  }

  .nav__list {
    margin-left: 88px;

    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
  }

  .nav__list,
  .contacts {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  .nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $mainTextColor;
    text-decoration: none;

    transition: color 250ms $mainAnimationFunction;

    &:hover,
    &:focus {
      color: $brandColor;
    }
  }

  .nav__link::after {
    @extend %after;

    transform: scaleX(0);
    transition: transform 250ms $mainAnimationFunction;
  }

  .nav__link:hover::after,
  .nav__link:focus::after {
    @extend %after;

    transform: scaleX(1);
  }

  .nav__link--active {
    position: relative;

    color: $brandColor;

    &::after {
      @extend %after;

      transform: scale(1);
    }
  }
}

// @media screen and (max-width: 767px) {
//   .nav__link {
//     color: $mainTextColor;
//     text-decoration: none;
//     font-weight: 500;
//     font-size: 40px;
//     line-height: 1.18;
//     letter-spacing: 0.02em;
//   }
// }

.nav__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.nav__item {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
