$brandColor: #2196f3;
$mainTextColor: #212121;
$secondaryTextColor: #757575;
$mainBcgColor: #ffffff;
$brandBcgColor: #2f303a;
$secondaryBcgColor: #f5f4fa;
$footerContactsColor: rgba(255, 255, 255, 0.6);
$mainLinksIconsColor: #afb1b8;
$mainAnimationFunction: cubic-bezier(0.4, 0, 0.2, 1);
